html {
  font-family: sans-serif;
}

body {
  width: 50%;
  max-width: 800px;
  min-width: 480px;
  margin: 0 auto;
  padding-top: 100px;
}

.title{
  color: red;
  margin-bottom: 50px;
}

.descr{
  font-weight: 700;
  margin-bottom: 30px;
}

.label{
  font-weight: 700;
}

.guessBtn{
  font-weight: 700;
  color: #fff;
  border: 2px solid rgb(128, 170, 128);
  background-color: green;
  font-size: 15px;
  cursor: pointer;
}

.result{
  text-align: center;
}